@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

:root {
    --primary-color: #201E50;
    --secondary-color: #525b76;
    --accent1-color: #a2c3a4;
    --accent2-color: #c4f1be;
  
    --heading-font: 'Oswald', serif;
    --paragraph-font: 'Lato', serif;
  
    --nav-background-color: #9CAFB7;
    --nav-link-color: #D0D38F;
    --nav-hover-link-color: #000000;
    --nav-hover-background-color: #D0D38F;
    font-family: var(--paragraph-font);
    /*max-width: 960px;*/
    padding: 20px;
}

body{
    background-color:#c4f1be;
    font-family: var(--paragraph-font);
    height: 100%;
    /*max-width: 960px;*/
    padding: 20px;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 200px auto auto auto auto ;
    grid-template-rows: 50px 200px 50px;
    /*max-width: 840px;*/
    border-bottom: 1px solid #fff;
	max-width: 1000px;
}


header img{
    display:flex;
    margin: 0 0.25rem 0 1rem;
	width: 200px;
	height: auto;
    grid-column: 1/2;
    justify-content: space-between;
    align-items: center; 
}
nav {
    display:flex;
    grid-column: 4/6;
    grid-row: 2/3;
    justify-content: space-between;
    align-items: center;      
}

.box2{
    width: auto;
    height: 50px;
    background-color: white;
    border: 2px solid #333;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

p {
    padding: 25px;
}
footer{
    display: grid;
    grid-template-columns: auto auto 10% 10% 10% ;
    border-bottom: 1px solid #fff;
}
footer p {
    display: flex;
    justify-content:center;
    color: #525b76;;
}
footer a {
    display:flex;
    justify-content: flex-end;
    text-decoration: none;
    align-items: center; 
}

.hero {
    background-image: linear-gradient(rgba(196, 214, 190, 0.6), rgba(0, 0, 0, 0.5)), url("images/hero.jpg");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(196, 214, 190, 0.6);
}

article{
    position: absolute;
    left:50%;
    top: 60%;
    transform: translate(-50%, -50%);
    color:#201E50;
    background-color: rgba(196, 214, 190, 0.8);
}

article img {
    width: 200px;
    height: auto;
    float:right;
    padding: 15px;
}

section{
    border-bottom: 1px solid #fff;
}

section p {
    color:#525b76;;
    text-indent: 2%;

}
.images {
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
}

figure img{
   display:flex;
   justify-content: space-between;
   max-width:100%;
   height: auto;
  }

figcaption {
    display:flex;
    grid-row: 2/3;
    color: #525b76;
    font-style: italic;
    padding: 2px;
    text-align: center;
}

form {
    width: 650px;
    margin: 5% auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #a2c3a4;;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 0.6rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: #201E50;
    font-size: 1.3em;
}

label{
    margin:1%;
}

.form-item p{
    text-align:left;
    padding: 0;
}

input, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    width: 100%;
}

input[type="radio"] {
   padding:10px;

}

input[type="radio"] + label{
    background-color: #e1e1e1;
    border: 4px solid #e1e1e1;
    border-radius: 10px;
    width: 100%;
    position: relative;
    width: 10px;
    height: 10px;
}

button {
    margin: 1rem;
    background-color: #201E50;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
  
button:hover {
    background-color: darkgreen;
}
